<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <script type="text/javascript" async="" src="https://1330chat.visitkorea.or.kr/ttalk/js/ttalkDev.js"
            charset="UTF-8"></script>

    <!-- Bulma CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css"
    />

    <!-- Font Awesome CSS -->
    <link
      href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Gugi&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap"
      rel="stylesheet"
    />

    <title>paldo</title>
    <style>
        * {
                font-family: 'Gugi', cursive;
            }
        body {
        background-color: RGBA(232, 52, 78, 0.2);
        min-height: 100vh;
      }

      .title {
        font-weight: 800;
        font-size: 5rem;
        font-family: "Gugi", cursive;
      }

      .subtitle {
        font-size: 2rem;
        font-family: "Gowun Batang", serif;
      }

      .is-sparta {
        color: #e8344e !important;
      }

        .mybtn {
            justify-content: space-around;
            margin-left: 20px;
            margin-bottom: 20px;
        }
        .festival_card {
            width: 1300px;
            height: 200px;
            text-align: center;
            margin: auto;
            padding-top: 50px
        }
        .card-group {
            width: 95%;
            margin: 40px auto 0px auto;
        }
        .card {
            margin-bottom: 50px;
            display: flex;
            justify-content: space-between;
        }
        .index_btn {
            width: 150px;
            height: 60px;
            font-size: 20px;
            margin: 20px auto;
        }

    </style>
    <script>
        $(document).ready(function () {
                show_order();
              });

        $(document).ready(function () {
                    postList();
                });

        function show_order() {
            $.ajax({
                type: "GET",
                url: "/secretpage",
                data: {},
                success: function (response) {
                    let rows = response["festivals"]
                    console.log(rows);
                  }
                })
              }


        function postList() {
                    let url = "http://ticket.interpark.com/TPGoodsList.asp?Ca=Eve&SubCa=Eve_C&Sort=3";
                    $.ajax({
                        type: 'POST',
                        url: '/postList',
                        data: {"url": url},
                        success: function (response) {

                            let rows = response['list']
                            for (let i = 0; i < rows.length; i++) {
                                let title = rows[i]['title']
                                let image = rows[i]['image']
                                let where_place = rows[i]['where_palce']
                                let a_url = rows[i]['a_url']
                                let date = rows[i]['date']

                                let temp_html = ``;

                                if(image == "NONE") {
                                    temp_html = `<div class="col">
                                                    <div class="card h-100">
                                                        <img src="../../../../minipro/static/image/no_img.png" class="card-img-top"
                                                             alt="...">
                                                        <div class="card-body">
                                                            <h5 class="card-title">${title}</h5>
                                                            <p class="card-text">${where_place}</p>
                                                            <a href="https://tickets.interpark.com/goods/21010162" class="btn btn-warning"
                                                               role="button">${a_url}</a>
                                                            <button type="button" class="btn btn-success">리뷰 쓰기</button>
                                                        </div>
                                                        <div class="card-footer">
                                                            <small class="text-muted">${date}</small>
                                                        </div>
                                                    </div>
                                                </div>`
                                } else {
                                    temp_html = `<div class="col">
                                                    <div class="card h-100">
                                                        <img src="${image}" class="card-img-top"
                                                             alt="...">
                                                        <div class="card-body">
                                                            <h5 class="card-title">${title}</h5>
                                                            <p class="card-text">${where_place}</p>
                                                            <a href="https://tickets.interpark.com/goods/21010162" class="btn btn-warning"
                                                               role="button">${a_url}</a>
                                                            <button type="button" class="btn btn-success">리뷰 쓰기</button>
                                                        </div>
                                                        <div class="card-footer">
                                                            <small class="text-muted">${date}</small>
                                                        </div>
                                                    </div>
                                                </div>`
                                }
                            }
                                $('#cards_box').append(temp_html)
                            }
                        });
                }


    </script>
</head>

<body>
    <section class="hero is-white">
      <div
        class="hero-body has-text-centered"
        style="padding-bottom: 1rem; margin: auto"
      >
        <h1 class="title is-sparta">팔도어때</h1>
        <h3 class="subtitle is-sparta">팔도축제 즐기자</h3>
      </div>
    </section>

    <div class="festival_card">
         <div id="cards_box" class="card-group row row-cols-1 row-cols-md-4 g-4">
            <div class="col">
                    <div class="card h-100">
                        <img src="https://ticketimage.interpark.com/Play/image/large/21/21010162_p.gif" class="card-img-top"
                             alt="...">
                        <div class="card-body">
                            <h5 class="card-title">2022 보령해양머드박람회</h5>
                            <p class="card-text">대천해수욕장 일원</p>
                            <a href="https://tickets.interpark.com/goods/21010162" class="btn btn-warning"
                               role="button">예매하기</a>
                            <button type="button" class="btn btn-success">리뷰 쓰기</button>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">22.07.16~22.08.15</small>
                        </div>
                    </div>
                </div>
            <div class="col">
                    <div class="card h-100">
                        <img src="https://ticketimage.interpark.com/Play/image/large/21/21010162_p.gif" class="card-img-top"
                             alt="...">
                        <div class="card-body">
                            <h5 class="card-title">2022 보령해양머드박람회</h5>
                            <p class="card-text">대천해수욕장 일원</p>
                            <a href="https://tickets.interpark.com/goods/21010162" class="btn btn-warning"
                               role="button">예매하기</a>
                            <button type="button" class="btn btn-success">리뷰 쓰기</button>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">22.07.16~22.08.15</small>
                        </div>
                    </div>
                </div>
            <div class="col">
                    <div class="card h-100">
                        <img src="https://ticketimage.interpark.com/Play/image/large/21/21010162_p.gif" class="card-img-top"
                             alt="...">
                        <div class="card-body">
                            <h5 class="card-title">2022 보령해양머드박람회</h5>
                            <p class="card-text">대천해수욕장 일원</p>
                            <a href="https://tickets.interpark.com/goods/21010162" class="btn btn-warning"
                               role="button">예매하기</a>
                            <button type="button" class="btn btn-success">리뷰 쓰기</button>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">22.07.16~22.08.15</small>
                        </div>
                    </div>
                </div>
            <div class="col">
                    <div class="card h-100">
                        <img src="https://ticketimage.interpark.com/Play/image/large/21/21010162_p.gif" class="card-img-top"
                             alt="...">
                        <div class="card-body">
                            <h5 class="card-title">2022 보령해양머드박람회</h5>
                            <p class="card-text">대천해수욕장 일원</p>
                            <a href="https://tickets.interpark.com/goods/21010162" class="btn btn-warning"
                               role="button">예매하기</a>
                            <button type="button" class="btn btn-success">리뷰 쓰기</button>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">22.07.16~22.08.15</small>
                        </div>
                    </div>
                </div>
            <div class="col">
                    <div class="card h-100">
                        <img src="https://ticketimage.interpark.com/Play/image/large/21/21010162_p.gif" class="card-img-top"
                             alt="...">
                        <div class="card-body">
                            <h5 class="card-title">2022 보령해양머드박람회</h5>
                            <p class="card-text">대천해수욕장 일원</p>
                            <a href="https://tickets.interpark.com/goods/21010162" class="btn btn-warning"
                               role="button">예매하기</a>
                            <button type="button" class="btn btn-success">리뷰 쓰기</button>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">22.07.16~22.08.15</small>
                        </div>
                    </div>
                </div>
            <div class="col">
                    <div class="card h-100">
                        <img src="https://ticketimage.interpark.com/Play/image/large/21/21010162_p.gif" class="card-img-top"
                             alt="...">
                        <div class="card-body">
                            <h5 class="card-title">2022 보령해양머드박람회</h5>
                            <p class="card-text">대천해수욕장 일원</p>
                            <a href="https://tickets.interpark.com/goods/21010162" class="btn btn-warning"
                               role="button">예매하기</a>
                            <button type="button" class="btn btn-success">리뷰 쓰기</button>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">22.07.16~22.08.15</small>
                        </div>
                    </div>
                </div>
            <div class="col">
                    <div class="card h-100">
                        <img src="https://ticketimage.interpark.com/Play/image/large/21/21010162_p.gif" class="card-img-top"
                             alt="...">
                        <div class="card-body">
                            <h5 class="card-title">2022 보령해양머드박람회</h5>
                            <p class="card-text">대천해수욕장 일원</p>
                            <a href="https://tickets.interpark.com/goods/21010162" class="btn btn-warning"
                               role="button">예매하기</a>
                            <button type="button" class="btn btn-success">리뷰 쓰기</button>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">22.07.16~22.08.15</small>
                        </div>
                    </div>
                </div>
            <div class="col">
                    <div class="card h-100">
                        <img src="https://ticketimage.interpark.com/Play/image/large/21/21010162_p.gif" class="card-img-top"
                             alt="...">
                        <div class="card-body">
                            <h5 class="card-title">2022 보령해양머드박람회</h5>
                            <p class="card-text">대천해수욕장 일원</p>
                            <a href="https://tickets.interpark.com/goods/21010162" class="btn btn-warning"
                               role="button">예매하기</a>
                            <button type="button" class="btn btn-success">리뷰 쓰기</button>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">22.07.16~22.08.15</small>
                        </div>
                    </div>
                </div>
        </div>
    </div>

    <div class="index_btn">
        <a href="#" onClick='top.location!="javascript:location.reload();'>
            <button type="button" class="btn btn-danger">떠나보자!</button>
        </a>
    </div>



<script
        src="https://kit.fontawesome.com/6478f529f2.js"
        crossorigin="anonymous"
></script>
</body>

</html>